@keyframes spin_clockwise {
  from  { transform: rotate(0deg) ;   }
  to    { transform: rotate(360deg);  }
}
@keyframes spin_counterclockwise {
  from  { transform: rotate(45deg) ;   }
  to    { transform: rotate(-405deg);  }
}
@-moz-keyframes spin_clockwise {
  from  { -moz-transform: rotate(0deg) ;   }
  to    { -moz-transform: rotate(360deg);  }
}
@-moz-keyframes spin_counterclockwise {
  from  { -moz-transform: rotate(45deg) ;   }
  to    { -moz-transform: rotate(-405deg);  }
}
@-webkit-keyframes spin_clockwise {
  from  { -webkit-transform: rotate(0deg) ;   }
  to    { -webkit-transform: rotate(360deg);  }
}
@-webkit-keyframes spin_counterclockwise {
  from  { -webkit-transform: rotate(45deg) ;   }
  to    { -webkit-transform: rotate(-405deg);  }
}
div.circle {
  background: #fff;
  float: left;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 300px 0 0 15%;
  border-radius: 100%;
  overflow: hidden;
  transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
div.circle:before,
div.circle:after {
  border-radius: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  box-shadow: inset 0 200px 0 white,
              inset 0 -200px  0 white;
  transition: box-shadow 0.75s;
  -moz-transition: box-shadow 0.75s;
  -webkit-transition: box-shadow 0.75s;
}
div.circle:after {
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
div.circle:hover:before {
  box-shadow: inset 20px 0 0 rgba(255, 165, 0, 0.2),
              inset -20px 0 0 rgba(255, 165, 0, 0.2),
              inset 0 20px 0 rgba(255, 165, 0, 0.2),
              inset 0 -20px 0 rgba(255, 165, 0, 0.2);
  animation: spin_clockwise 10s linear infinite;
  -moz-animation: spin_clockwise 10s linear infinite;
  -webkit-animation: spin_clockwise 10s linear infinite;
}
div.circle:hover:after {
  box-shadow: inset 30px 0 0 rgba(255, 165, 0, 0.2),
              inset -30px 0 0 rgba(255, 165, 0, 0.2),
              inset 0 30px 0 rgba(255, 165, 0, 0.2),
              inset 0 -30px 0 rgba(255, 165, 0, 0.2);
  animation: spin_counterclockwise 13s linear infinite;
  -moz-animation: spin_counterclockwise 13s linear infinite;
  -webkit-animation: spin_counterclockwise 13s linear infinite;
}
.portal {
  width: 60%;
  height: 60%;
  margin: 20% 0 0 20%;
}
