div.wrapper {
  line-height: 1.25;
  font-family: sans-serif;
  margin-left: 25%;
  font-weight: 200;
}
#resume div.wrapper {
  min-width: 400px;
}
#index div.wrapper {
  float: left;
  padding-top: 150px;
  min-width: 175px;
  width: 25%;
  text-align: right;
}
#about div.wrapper {
  padding-top: 50px;
  width: 25%;
  text-align: right;
}
#resume div.wrapper {
  padding-top: 50px;
  width: 50%;
}
#index h1 {
  margin-bottom: 5px;
}
ul {
  padding: 0;
}
li:before {
  content: "-  ";
}
li {
  color:hsl(0,0%,20%);
  padding: 5px 0;
  text-indent: -8px;
  list-style: none;  
}
a {
  color: darkorange;
  text-decoration: none;
}
a:visited {
  color: chocolate;
  text-decoration: underline;
}
a:hover, a:visited:hover {
  color: navy;
}
i {
  font-size: small;
  color: hsl(0,0%,50%);
}
b {
  font-weight: 400;
}
#index .wrapper img {
  width: 150px;
  height: 150px;
}
#resume img {
  width: 100px;
  height: 100px;
  float: left;
  clear: both;
  border: 1px solid black;
  margin: 10px 10px 10px 0;
}
blockquote {
  font-style: italic;
  color: hsl(0,0%,25%);
}
