div.wrapper {
  line-height: 1.25;
  font-family: sans-serif;
  margin-left: 25%;
  font-weight: 200;
}
#index div.wrapper {
  padding-top: 150px;
  width: 25%;
  text-align: right;
}
#resume div.wrapper {
  padding-top: 50px;
  width: 50%;
}
a {
  color: darkorange;
  text-decoration: none;
}
a:visited {
  color: chocolate;
  text-decoration: underline;
}
a:hover, a:visited:hover {
  color: navy;
}
i {
  font-size: small;
  color: hsl(0,0%,50%);
}
img {
  width: 150px;
  height: 150px;
}
