div.wrapper {
  padding-top: 150px;
  line-height: 1.25;
  font-family: sans-serif;
  margin-left: 25%;
}
#index div.wrapper {
  width: 25%;
  text-align: right;
}
a {
  color: darkorange;
  text-decoration: none;
}
a:visited {
  color: chocolate;
  text-decoration: underline;
}
a:hover, a:visited:hover {
  color: navy;
}
